<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<configSections>
		  
	</configSections>

	<connectionStrings>
	    <add name="csSole" connectionString="Data Source=opcsql2;Initial Catalog=Sole;User ID=sa; Password=Vangogh1" providerName="System.Data.SqlClient" />
        <add name="csOPCV2" connectionString="Data Source=opcsql2;Initial Catalog=OPCMembersV2;Persist Security Info=True;User ID=sa;Password=Vangogh1" providerName="System.Data.SqlClient" /> 
        <add name="csMembers" connectionString="Data Source=opcsql2;Initial Catalog=OPCMembersV2;Persist Security Info=True;User ID=sa;Password=Vangogh1" providerName="System.Data.SqlClient" /> 
    </connectionStrings>
	
	<appSettings>
		<add key="storagePath" value="\\opcfp1\Members\$MEMBERID$\ELC\" />
		<add key="progDocPath" value="D:\Inetpub\wwwroot\AQ\ProgramDocuments\" />
		<add key="progDocPathHttp" value="http://www.principals.ca/AQ/ProgramDocuments/" />
		<add key="modDocPath" value="D:\Inetpub\wwwroot\AQ\ProgramDocuments\$WKSHPID$\modules\" />
		<add key="modDocPathHttp" value="http://www.principals.ca/AQ/ProgramDocuments/$WKSHPID$/modules/" />
	</appSettings>

	<system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" maxRequestLength="100000" />
      <customErrors mode="Off" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>
	</system.web>
	
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		
	</system.webServer>
	<runtime>
		
	</runtime>
</configuration>
